body {
  margin: 0;
  padding: 0;
  color: #474747;
  background-color: white;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border-radius: 0.25rem;
  box-shadow: none;
}

.btn-white {
  font-size: 1.25rem;
  text-transform: capitalize;
  color: rgb(255, 64, 115);
  background-color: #fff;
  padding: 0.85rem 1.5rem 0.75rem;
}

.btn-white:hover {
  color: rgb(255, 64, 115);
  background-color: #fff;
  /* box-shadow: none; */
}

.btn-sign {
  font-size: 0.9rem;
  text-transform: capitalize;
  color: rgb(255, 64, 115);
  background-color: transparent;
  border: 1px solid rgb(255, 64, 115);
}

.btn-sign:hover {
  color: #fff;
  border: 1px solid rgb(255, 64, 115);
  background-color: rgb(255, 64, 115);
  box-shadow: none;
}

.btn-try {
  color: #fff;
  background-color: rgb(255, 64, 115);
  box-shadow: none;
}

.btn-try:hover {
  color: #fff;
  background-color: rgba(237, 38, 91, 0.842);
  box-shadow: none;
}

.btn-explore {
  color: rgb(255, 64, 115);
  background-color: transparent;
  border: 1px solid rgb(255, 64, 115);
}

.btn-explore:hover {
  color: #fff;
  border: 1px solid rgb(255, 64, 115);
  background-color: rgb(255, 64, 115);
  box-shadow: none;
}

.btn-billing {
  color: rgb(255, 64, 115);
  background-color: transparent;
  border: 1px solid rgb(255, 64, 115);
}

.btn-billing:hover,
.btn-billing.active,
.btn-billing:active {
  color: #fff;
  background-color: rgb(255, 64, 115);
  border: 1px solid rgb(255, 64, 115);
  box-shadow: none;
}

.btn-promo {
  color: rgb(255, 64, 115);
  background-color: transparent;
  border: 1px solid rgb(255, 64, 115);
}

.btn-promo:hover {
  color: #fff;
  background-color: pink;
  border: 1px solid pink;
  box-shadow: none;
}

.btn-green {
  color: green;
  background-color: transparent;
  border: 1px solid rgb(7, 160, 7);
}

.btn-green:hover {
  color: #fff;
  background-color: rgb(7, 160, 7);
  border: 1px solid rgb(7, 160, 7);
  box-shadow: none;
}

.btn-group {
  box-shadow: none;
}

.btn-group:hover {
  box-shadow: none;
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%); */
}

.up {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 25px;
  z-index: 9999;
  background-color: rgb(255, 64, 115);
  color: white;
  padding: 9px 10px 6px 10px;
}

/* ...Navigation... */
header {
  -webkit-transition: all 0.9s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.9s ease;
  position: absolute;
  /* z-index: 2000; */
}

.sticky-top {
  animation: smoothScroll 1s forwards;
  background-color: rgb(255, 64, 115);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sticky-top .nav-link {
  color: #fff;
}

.sticky-top .nav-link:hover {
  color: pink;
}

.sticky-top .btn-sign {
  color: rgb(255, 64, 115);
  background-color: #fff;
  border: 1px solid #fff;
}

.sticky-top .btn-sign:hover {
  color: rgb(255, 64, 115);
  background-color: #fff;
  border: 1px solid #fff;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
  }
}

.text-logo {
  font-size: 35px;
  color: #fff;
  margin-bottom: 0;
}

nav {
  background-color: transparent;
}

.navbar {
  box-shadow: none;
}

.nav-link {
  font-weight: 500;
  color: #474747;
  letter-spacing: 0.75px;
}

.nav-link:hover,
.active,
.hover:hover {
  color: rgb(255, 64, 115);
}

.group {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 64, 115);
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 1px);
  transform: rotate(-45deg) translate(-2px, 1px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Hero Section */
.snaz {
  height: 100vh;
  background-image: url("../images/svg/polygon-background.svg");
  background-repeat: no-repeat;
}

.plan {
  font-size: 1.65rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.holder {
  padding: 12rem 8rem 2rem 8rem;
}

.bold-text {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  line-height: 1.4;
  font-weight: bold;
  color: #232323;
  text-transform: capitalize;
}

.top-description {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid rgb(255, 64, 115);
  border-bottom: 0.125rem solid rgb(255, 64, 115);
  border-left: 0.125rem solid rgb(255, 64, 115);
}
.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: rgb(255, 64, 115);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: currentcolor currentcolor currentcolor rgb(255, 64, 115);
  border-bottom: 0.125rem solid rgb(255, 64, 115);
  border-right: 0.125rem solid rgb(255, 64, 115);
  border-top: 0.125rem solid rgb(255, 64, 115);
}

.form-outline .form-control:focus ~ .form-label {
  color: rgb(255, 64, 115);
}

#link {
  text-align: center;
  transition: all 0.5s ease;
  width: 100%;
  height: 125px;
}

/* Features Section */
.features {
  padding: 5rem 0;
}

.palette {
  transition-duration: 650ms;
  box-shadow: 5px 9px 10px 8px #ed265b0a;
}

.palette:hover {
  transform: translateY(-5px);
  box-shadow: 6px 8px 15px 12px #5a0d210e;
}

.top {
  background-color: pink;
  height: 20px;
  margin-bottom: 2rem;
}

.main-color {
  color: rgb(255, 64, 115);
}

.white {
  color: #fff;
}

.green {
  color: rgb(7, 160, 7);
}

.main-background {
  background-color: rgb(255, 64, 115);
}

.ar {
  padding-right: 1.8rem;
}

.al {
  padding-left: 1.5rem;
}

/* Pricing Section */

.pricing {
  padding-bottom: 4rem;
}

.card {
  transition-duration: 300ms;
  box-shadow: 8px 5px 6px 3px rgb(0 0 0 / 5%);
}

.card:hover {
  box-shadow: 2px 15px 20px 5px rgb(0 0 0 / 8%);
}

/* Contact Section */
.contact {
  position: relative;
  height: 83vh;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='900' preserveAspectRatio='none' viewBox='0 0 1920 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c404 C 76.8%2c333.4 230.4%2c69 384%2c51 C 537.6%2c33 614.4%2c311.4 768%2c314 C 921.6%2c316.6 998.4%2c66.6 1152%2c64 C 1305.6%2c61.4 1382.4%2c312.6 1536%2c301 C 1689.6%2c289.4 1843.2%2c65 1920%2c6L1920 900L0 900z' fill='rgba(255%2c 64%2c 115%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c778 C 192%2c735.4 576%2c559 960%2c565 C 1344%2c571 1728%2c759.4 1920%2c808L1920 900L0 900z' fill='rgba(236%2c 41%2c 93%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1920' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  overflow: hidden;
  z-index: 0;
}

.contact:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5rem 1rem 4rem 1rem;
}

#contact-form {
  padding: 4rem 3rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 15px 20px 5px rgb(0 0 0 / 10%);
}
